@model InterviewViewModel

@using DK.BusinessLogic.Helpers;

@{
    ViewData["Title"] = "Interview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="technology">
    <div class="technology__model"></div>
    <div class="technology__light fadeIn animated"></div>
</div>

<section class="about about--technology">
    <div class="container">
        <div class="about__desc">
            <h2 class="title-h2">@Model.Category.Name<br><span class="tools__ttl">@Model.Category.Type.GetEnumDisplayName()</span></h2>
            <h3 class="title-h3">@Model.Category.Description</h3>
        </div>
    </div>
</section>

<section class="work">
    <div class="container">
        <div class="work__wrap--center">
            <h2 class="title-h2">Difficulty level</h2>
            <h3 class="title-h3">Please select difficulty level for your test session.</h3>
        </div>
        <div class="work__outer">
            <div class="work__itm">
                <div class="work__preview">
                    <div class="work__preview-row">
                        <div class="work__preview-col">
                            <i class="work__icon">
                                <img class="work__img" src="/images/ic-relationships.png">
                            </i>
                        </div>
                        <div class="work__preview-col">
                            <span class="work__ttl">BASE</span>
                            <p class="work__text">Exams for base knowleage level. Perfect for begginers.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work__itm">
                <div class="work__preview">
                    <div class="work__preview-row">
                        <div class="work__preview-col">
                            <i class="work__icon">
                                <img class="work__img" src="~/images/ic-management.png">
                            </i>
                        </div>
                        <div class="work__preview-col">
                            <span class="work__ttl">INTERMEDIATE</span>
                            <p class="work__text">Medium difficulty exams for candidates with middle experience level.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work__itm">
                <div class="work__preview">
                    <div class="work__preview-row">
                        <div class="work__preview-col">
                            <i class="work__icon">
                                <img class="work__img" src="/images/ic-knowleage.png">
                            </i>
                        </div>
                        <div class="work__preview-col">
                            <span class="work__ttl">ADVANCED</span>
                            <p class="work__text">The most complex exams for candidates with great experience level.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="development separator"></div>

<section class="message hidden">
    <div class="message__wrap">
        <h2 class="title-h2">Candidate Information</h2>
        <h3 class="title-h3">Please enter information about you:</h3>
        <div class="container no-width">
            <div class="message__bottom">
                <form method="post" class="form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(e => e.Category.Id)
                    <div class="form__outer">
                        <div class="form__itm form__itm--name">
                            <input asp-for="Candidate.Name" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Candidate.Name)" />
                            <span asp-validation-for="Candidate.Name" class="text-danger"></span>
                        </div>

                        <div class="form__itm form__itm--email">
                            <input asp-for="Candidate.Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Candidate.Email)" />
                            <span asp-validation-for="Candidate.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form__outer">
                        <div class="form__itm form__itm--phone">
                            <input asp-for="Candidate.Phone" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Candidate.Phone)" />
                            <span asp-validation-for="Candidate.Phone" class="text-danger"></span>
                        </div>
                        <div class="form__itm form__itm--budget">
                            <input asp-for="Candidate.Skype" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Candidate.Skype)" />
                            <span asp-validation-for="Candidate.Skype" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form__outer">
                        <div class="form__itm form__itm--full-width">
                            <textarea class="form-control form__textarea" asp-for="Candidate.Description" placeholder="@Html.DisplayNameFor(m => m.Candidate.Description)"></textarea>
                            <span asp-validation-for="Candidate.Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form--center">
                        <button class="btn-b" type="submit">
                            <span>Start Interview</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="development separator"></div>
</section>

<div class="content--works-wrap">
    <section class="design">
        <div class="container">
            <div class="design__outer">
                <div class="design__itm design__itm--img">
                    <img class="design__img" src="~/images/bg-design.png">
                </div>
                <div class="design__itm">
                    <div class="design__desc">
                        <h2 class="title-h2">Difficulty Update</h2>
                        <h3 class="title-h3">If you pass the same interview with higher difficulty level your profile will be automaticaly updated with new results.</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("a").removeClass("nav__link--active");
            $(".nav__ul .nav__link").css("color", "white");
        });

        $(".work__preview").click(function () {
            $(".work__preview").css("background", "white");
            $(this).css("background", "darkgray");

            $(".message").removeClass("hidden");
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}